{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="https://www.seekpng.com/png/small/413-4139803_unknown-profile-profile-picture-unknown.png" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">{{ employee.first_name|capfirst }} {{employee.last_name|capfirst}}</h5>
                    <div class="px-4 mt-1">
                        <p class="fonts">Address: {{employee.address}} </p>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                          <label for="email" class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" name="email" value="{{employee.email}}" readonly class="form-control">
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <label for="jdate" class="col-form-label">Joined date</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" name="jdate" value="{{employee.joining_date}}" readonly class="form-control">
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <label for="pnum" class="col-form-label">Phone Number</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" name="pnum" value="{{employee.phone_number}}" readonly class="form-control">
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <label for="dob" class="col-form-label">Date of birth</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" name="pnum" value="{{employee.dob}}" readonly class="form-control">
                        </div>
                      </div>
                    {% if employee.jobs.all%}
                    <ul class="list-inline"></ul>
                    {%for job in employee.jobs.all%}
                        <li >{{job}}</li>
                    {%endfor%}
                     </ul>
                    {%endif%}               
                </div>             
            </div>
        </div>
    </div>
    <a href="/">back</a>
</div>


{% endblock %}